@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    background: #121212;
}
.hamburger-nav{
    display: none !important;
}

.navbar{
    justify-content:space-around;
    align-items: center;
    font-family: 'exo 2';
    height: 10vh;
    width: 100vw;
    background: #ffffffa8;
    z-index: 4;
}
.logo{
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'exo 2';
}
.logo .design{
    color: #f9ae21;
}
.navItems li{
margin-left: 5px;
margin-right: 5px;
}
.navItems li a{
    font-family: 'exo 2';
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display:block;
}
.navItems li a:hover{
    color: #ba1f1d;
    transition: 0.2s;
}
.buttons i{
    color: #f9ae21;
}
.buttons button{
    background: #ba1f1d;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.buttons a{
    color: #FFFFFF;
}
.button-mobile{
    display: none;
}
.bars{
    display: none;
}
.close-div{
    display: none;
}
@media screen and  (max-width: 768px){
    .logo .mobile{
        display: none;
    }
    .button-mobile{
        display: block;
    }
    .bars{
        display: block;
    }
    .close-div{
        display: block;
    }
    .fold{
        position: absolute;
        background: #ccc;
        height: 600px;
        z-index: 99;
        top: 5px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        left:-100%;
        transition:left 0.4s;
      
    }
    .fold.mobile{
        left: 5%;
    }
    .close-div{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .fold .close{
        font-size: 30px;
        margin-left: auto;
    }
    .fold ul{

        flex-direction: column;
        height: 80%;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }
    .button-desktop{
        border: 1px solid red;
        display: none;
    }
    .bars{
        width: 20%;
        height: 90%;
    }
    .bars div{
        width: 60%;
        margin: 0 auto;
        height: 15%;
        background: #121212;
        margin-top: 5px;
        border-radius: 8px;
        transition: 1.5s;
    }
    .bars div:nth-child(1){
        margin-left: 20px;
        background: #ba1f1d;
        transition: 1.5s;
    }
    .bars div:nth-child(1).active{
        margin-left: auto;
    }
    .bars div:nth-child(3).active{
        margin-right: auto;
    }
    .bars div:nth-child(3){
        margin-right: 20px;
        background: #f9ae21;
        transition: 1.5s;
    }
}